.customButton {
  /* border: 1px solid var(--orange); */

  /* border: 1px solid var(--orange); */
  align-items: center;
  background-color: var(--orange);
  border: 0;
  border-radius: 0.8rem;
  box-sizing: border-box;
  color: #333333;
  cursor: pointer;
  display: inline-flex;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  overflow: hidden;
  padding: 8px 12px;
  touch-action: manipulation;
  transition: all 200ms ease;

  /* border-radius: 0.2rem;
  border: 0;
  background-color: var(--orange);
  color: black;
  padding: 4px 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  list-style: none;
  box-sizing: border-box; */
}

.customButton:hover {
  background-color: var(--light-orange);
  /* border: 1px solid var(--light-orange); */
  /* transform: scale(1.02); */
  /* transition: all 100ms ease; */
}

/* CSS */
.button-2 {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
