.customButton {
  border: 1px solid var(--orange);
  background-color: var(--orange);
  color: black;
  padding: 3px 4px;
  border-radius: 0.2rem;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.customButton:hover {
  background-color: var(--light-orange);
  border: 1px solid var(--light-orange);
  /* transform: scale(1.02); */
  /* transition: all 100ms ease; */
}
